# bower
bower_components

# node
node_modules

# github project page src
gh-pages

# temporary files and directories
tmp

# sublime text
*.sublime-workspace
*.sublime-project

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# osx
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
Icon
